# Students Do: Understanding customers

## Instructions

You are given a dataset that contains historical data from purchases of an online store made by 200 customers. In this activity you will put in action your data preprocessing superpowers, also you'll add some new skills needed to start finding customers clusters.

In [2]:
# Initial imports
import pandas as pd
from pathlib import Path
file_path = Path("../Resources/shopping_data.csv")

Load the data into a Pandas DataFrame, name it as `df_shopping` and fetch the top 10 rows.

In [3]:
df_shopping_df = pd.read_csv(file_path)
df_shopping_df

     CustomerID Previous Shopper  Age  Annual Income  Spending Score (1-100)
0             1              Yes   19          15000                      39
1             2              Yes   21          15000                      81
2             3               No   20          16000                       6
3             4               No   23          16000                      77
4             5               No   31          17000                      40
..          ...              ...  ...            ...                     ...
195         196               No   35         120000                      79
196         197               No   45         126000                      28
197         198              Yes   32         126000                      74
198         199              Yes   32         137000                      18
199         200              Yes   30         137000                      83

[200 rows x 5 columns]

In [29]:
df_shopping_df.columns

Index(['CustomerID', 'Previous Shopper', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [31]:
#df_shopping_df2 = pd.DataFrame([[1]] * 200, columns=['Previous Shopper'])
#df_shopping_df2

List the DataFrame's data types to ensure they're aligned to the type of data stored on each column.

In [32]:
df_shopping_df.dtypes

CustomerID                 int64
Previous Shopper          object
Age                        int64
Annual Income              int64
Spending Score (1-100)     int64
dtype: object

**Question 1:** Is there any column whose data type need to be changed? If so, make the corresponding adjustments.

**Question 2:** Is there any unnecessary column that needs to be dropped? If so, make the corresponding adjustments.

In [33]:
df_shopping_df.columns

Index(['CustomerID', 'Previous Shopper', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [34]:
df_shopping_df.drop(['Previous Shopper','CustomerID' ], axis = 1)

     Age  Annual Income  Spending Score (1-100)
0     19          15000                      39
1     21          15000                      81
2     20          16000                       6
3     23          16000                      77
4     31          17000                      40
..   ...            ...                     ...
195   35         120000                      79
196   45         126000                      28
197   32         126000                      74
198   32         137000                      18
199   30         137000                      83

[200 rows x 3 columns]

In [35]:
for column in df_shopping_df.columns:
    print(f"Column {column} has {df_shopping_df[column].isnull().sum()} null values")

Column CustomerID has 0 null values
Column Previous Shopper has 0 null values
Column Age has 0 null values
Column Annual Income has 0 null values
Column Spending Score (1-100) has 0 null values

In [37]:
df_shopping_df

     CustomerID Previous Shopper  Age  Annual Income  Spending Score (1-100)
0             1              Yes   19          15000                      39
1             2              Yes   21          15000                      81
2             3               No   20          16000                       6
3             4               No   23          16000                      77
4             5               No   31          17000                      40
..          ...              ...  ...            ...                     ...
195         196               No   35         120000                      79
196         197               No   45         126000                      28
197         198              Yes   32         126000                      74
198         199              Yes   32         137000                      18
199         200              Yes   30         137000                      83

[200 rows x 5 columns]